<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anjoslogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controle.ConfirmarDoacao"></activity>
        <activity android:name=".Controle.ActivityTelaInicial" />
        <activity android:name=".Listagem.ListarCMB" android:parentActivityName=".Controle.SelecionarAcao" />
        <activity android:name=".Listagem.ListarMatEscolar" android:parentActivityName=".Controle.SelecionarAcao" />
        <activity android:name=".Listagem.ListarCalcados" android:parentActivityName=".Controle.SelecionarAcao" />
        <activity android:name=".Listagem.ListarHigLimp" android:parentActivityName=".Controle.SelecionarAcao"/>
        <activity android:name=".Listagem.ListarVestuario" android:parentActivityName=".Controle.SelecionarAcao"/>
        <activity android:name=".Listagem.ListarAlimentos"  android:parentActivityName=".Controle.SelecionarAcao"/>
        <activity android:name=".Controle.SelecionarAcao" android:parentActivityName=".Controle.ActivityTelaInicial"/>
        <activity android:name=".Usuario.Perfil" android:parentActivityName=".Controle.ActivityTelaInicial" />
        <activity android:name=".Controle.ResetarSenha" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Usuario.CadastrarUsuario" />
        <activity android:name=".Usuario.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>